<app-loading-indicator></app-loading-indicator>
<mat-grid-list cols="12" rowHeight="2:1">

    <mat-grid-tile style=" background-color: blue; color: white" colspan="3" rowspan="2" gutterSize="2px">
        <div class="fx-grid-tile">1</div>
    </mat-grid-tile>
    <mat-grid-tile style="        background-color: red" colspan="3">2</mat-grid-tile>
    <mat-grid-tile style="        background-color: yellow" colspan="3">3</mat-grid-tile>
    <mat-grid-tile style="        background-color: green" colspan="3">4</mat-grid-tile>
    <mat-grid-tile style="        background-color: lightgray" colspan="3">5</mat-grid-tile>
    <mat-grid-tile style="        background-color: black;
        color: white" colspan="3">6</mat-grid-tile>
    

</mat-grid-list>