/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*$app-blue: #3325b1;*/
$app-header-color: #0e2753;
$app-green: #6ea82d;
$app-blue: #1738a3;
$app-dark-blue: #1c2553;
